.bg{
    background-image: url(../img/6.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
}
.bg-two{
    background-image: url(../img/7.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-three{
    background-image: url(../img/stock.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-anima {
    animation: row-and-shrink 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
@keyframes row-and-shrink {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }


  .box {
    animation: popup 0.4s;
}

@keyframes popup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}